<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="license" type="System.Configuration.AppSettingsSection"/>
		<section name="instructions" type="System.Configuration.AppSettingsSection"/>
	</configSections>
	
	<license>
		<!-- Add your license key here! -->
		<add key="Wacom.License" value="eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI3YmM5Y2IxYWIxMGE0NmUxODI2N2E5MTJkYTA2ZTI3NiIsImV4cCI6MTYzMDQ1MDgwMCwiaWF0IjoxNjE0OTM1ODAzLCJzZWF0cyI6MCwicmlnaHRzIjpbIkNETF9BQ0NFU1MiLCJDRExfTElWRV9TVFJFQU1JTkciXSwiZGV2aWNlcyI6WyJXQUNPTV9BTlkiXSwidHlwZSI6ImV2YWwiLCJsaWNfbmFtZSI6IkNETCAyIFdpbmRvd3MgRXZhbHVhdGlvbiIsIndhY29tX2lkIjoiN2JjOWNiMWFiMTBhNDZlMTgyNjdhOTEyZGEwNmUyNzYiLCJsaWNfdWlkIjoiNDk0ZTJhYzUtZmEyNS00Y2ZlLWFkMWEtNWYwNjE3YzViYTU5IiwiYXBwc193aW5kb3dzIjpbXSwiYXBwc19pb3MiOltdLCJhcHBzX2FuZHJvaWQiOltdLCJtYWNoaW5lX2lkcyI6W119.DBYz1xAhK-ItlNJAGFsNi4e9T6xX7POqSFNQD009qovCYwHi50t4BLvTHYuGvssOr7dtrIDma_gMeITHo9VXI2lE_A80pkbqZzwSgcl_cA-r4kz9ZFZt9fW1cyuTPJI_Be4xPuBgwyRcrsZduHlp_cKC8AedjLpYP5JANUWJTK7tlPEG4tp1HeqJoytRqBJ3rtmNZC5Bm6cak5Gy9uTdiN9vdmX9YBOkXk51wTYfExJ-wsWLEUv29x-ePKnqJSAq0H1_uHkJ6jFiTyTnAjypGSQbBpFMxr1UFVkuZ7t08wslllaWOs4x7iRtzUKw8TESMn-s2ycM2DyvrQ-VDI7HFw"/>
		
	</license>
	
	<instructions>
		<add key="Hold Pen-A" value= "The task sheet for Hold pen-A shows a target in the middle of the sheet. The participant must keep the tip of the pen above this target for a duration of 10 seconds. The participant should not rest the wrist, forearm, or elbow on the table. Click “Start task” to start data recording. Click “End task” to finish recording."/>
		<add key="Hold Pen-B" value= "The task sheet for Hold pen-B shows a target in the middle of the sheet. The participant must keep the tip of the pen above this target for a duration of 10 seconds. The participant must rest the wrist or forearm on the table. Click “Start task” to start data recording. Click “End task” to finish recording."/>
		<add key="Draw Triangle Simple" value= "The task sheet for Draw Triangle Simple is empty. On the sheet, the participant must draw superposed triangles (triangles on top of each other) for a duration of 20 seconds. The sides must be around 2 cm each. The test administrator demonstrates this with their finger or a pen. While doing the task, the participant must always keep the pen on the sheet and must never lift it. The participant is instructed to draw the triangles as fast as they can, and to continue until the experimenter tells them to stop. "/>
		<add key="Draw Triangle Count" value= "The task sheet for Draw Triangle Count is empty. The participant must perform the Draw Triangle Simple task. While they perform this task, they must count backwards from 20 to 0, in steps of 2 (20, 18, 16…). They must count out loud. The task ends when the participant has finished counting."/>
		<add key="Copy figure" value= "The task sheet for Copy figure contains the example drawing on the left. The participant must copy this drawing on task sheet."/>
		<add key="Write word" value= "The task sheet for Write word contains a horizontal line. The participant is asked to think of a word and write it on the line. "/>
		<add key="Write sentence" value= "The task sheet for Write sentence contains horizontal lines. The participant is asked to think of a sentence (i.e., subject, verb, coherent) and write it on the empty sheet or on the line. "/>
		<add key="TMT-A" value= "The task sheet for TMT-A contains 10 circles, numbered from 1 to 10. Circle 1 is marked as “Départ”. Circle 10 is marked as “Fin”. The participant must place the tip of the pen on Circle 1. The participant must then be instructed to trace a line between the circles, following the order of the numbering of the circles (1-2-3…10), until circle 10 is reached. The participant must do this as fast and precisely as they can."/>
		<add key="TMT-B" value= "The task sheet for TMT-B contains 10 circles, numbered from 1 to 5, and from A to E. Circle 1 is marked as “Départ”. Circle E is marked as “Fin”. The participant must place the tip of the pen on Circle 1. The participant must then be instructed to trace a line between the circles, alternating between following the numerical and alphabetical order of the circles (1-A-2-B…E), until circle E is reached. The participant must do this as fast and precisely as they can."/>
	</instructions>
	
</configuration>