<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="license" type="System.Configuration.AppSettingsSection"/>
		<section name="instructions" type="System.Configuration.AppSettingsSection"/>
	</configSections>
	
	<license>
		<!-- Add your license key here! -->
		<add key="Wacom.License" value="your_wacom_sdk_license"/>
		
	</license>
	
	<instructions>
		<add key="TMT-A" value= "The task sheet for TMT-A contains 10 circles, numbered from 1 to 10. Circle 1 is marked as “Départ”. Circle 10 is marked as “Fin”. The participant must place the tip of the pen on Circle 1. The participant must then be instructed to trace a line between the circles, following the order of the numbering of the circles (1-2-3…10), until circle 10 is reached. The participant must do this as fast and precisely as they can, , without lifting the pen from the tablet."/>
		<add key="TMT-B" value= "The task sheet for TMT-B contains 10 circles, numbered from 1 to 5, and from A to E. Circle 1 is marked as “Départ”. Circle E is marked as “Fin”. The participant must place the tip of the pen on Circle 1. The participant must then be instructed to trace a line between the circles, alternating between following the numerical and alphabetical order of the circles (1-A-2-B…E), until circle E is reached. The participant must do this as fast and precisely as they can, , without lifting the pen from the tablet."/>
	</instructions>
	
</configuration>